body{
    background-color: #8FD9D9;
    margin: 0;
}
.proflie1 {
    display: grid; 
    grid-template-columns: 20% 80%; 
    grid-template-rows: auto; 
    background-color: #8fd9d9;
}

.menu {
    grid-column: 1 / span 2; 
    display: grid;
    grid-template-columns: 20% 40% 40%;  
}
.home{
    grid-column: 1; 
}
.home img{
    margin-left: 10px;
    margin-top: 10px;
    width: 15%;
    border-radius: 10;
}
.Event_j{
    grid-column: 2; 
    background-color: #F5F5EF ;
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.Event_e{
    grid-column: 3; 
    background-color: #365b6d;
    text-align: center;
    border-radius: 0 10px 0 0;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: white; 
}
.Event_e:hover{
    background-color: #F5F5EF;
}

.proflieinfo {
    grid-column: 1; 
}

.LogoCWS_pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90% ;
    padding: 20px 0 ;
    border-radius: 60% ;
}
.myInfo{
    background-color: #44718B;
    border: 3px ;
    margin : 10px;
    border-radius: 10px;
    text-align: center;
    padding: 50px 0 ;
}
.eventp {
    grid-column: 2; 
    background-color: #F5F5EF;
}

.comingE{
    background-color: #8FD9D9;
    border: 3px ;
    text-align: center;
    border-radius: 10px;
    margin : 30px;
    padding: 100px 100px;
}
.alreadyj{
    background-color: #44718B;
    border: 3px ;
    margin : 30px;
    text-align: center;
    padding: 100px 100px;
    border-radius: 10px;
}